.app nav.main {
  .collapse {
    display: none;
    margin-left: 1em;
  }
  .logo-placeholder img {
    max-height: 100%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .app nav.main {
    .left .top-nav, .right {
      display: none;
    }
    .left {
      flex-grow: 0;
    }
    .collapse {
      display: block;
    }
  }
}