.app {
  padding-top: 55px;
}

nav.main {
  .collapse {
    display: none;
    margin-left: 1em;
  }
}

@media (max-width: 992px) {
  nav.main {
    .left .top-nav, .right {
      display: none;
    }
    .left {
      flex-grow: 0;
    }
    .collapse {
      display: block;
    }
  }
}
